/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/* Kendo confirmation dialog*/
.k-confirm .k-window-titlebar::before,
.k-alert .k-window-titlebar::before {
    content: 'Delete';
    font-weight: bold;
}

.k-confirm .k-window-titlebar .k-dialog-title {
    visibility: collapse;
}

.k-dialog .k-window-titlebar .k-dialog-title {
    visibility: hidden;
}

#listView {
    width: 100%;
}

.itemList {
    display: inline-block;
    border: 1px solid grey;
}

.ridge {
    border-style: ridge;
    padding: 5px;
    border-color: #B6C0C8;
    border-radius: 10px;
    margin-right: 5px;
}

#listView {
    padding: 0;
    margin: 0;
    border-width: 0;
    border-style: solid;
    box-sizing: border-box;
    outline: 0;
    font-size: inherit;
    line-height: 1.42857143;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    background-color: #fff;
    border-color: #dedee0;
    color: #515967;
    width: 100%;
}