<form role="form" name="newMovieForm" id="newMovieForm" novalidate>
    <div class="row">
        <div class="col-sm-8">
            <div ng-hide="(vm.movie.id>0)">
                <h1>Novi film</h1>
            </div>
            <div ng-hide="!(vm.movie.id>0)">
                <h1>{{vm.movie.name}}</h1>
            </div>
        </div>
        <div style="margin-top: 25px">
                    <button ng-disabled="vm.movie.name===empty||vm.movie.releaseDate===empty"
                            class="btn btn-success" ng-click="vm.save(vm.movie)">
                        Spremi
                    </button>
                <button class="btn btn-default" ui-sref="moviesOverview">Odustani</button>
            </div>
        </div>
    <hr />
    <div class="col-sm-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">PODACI O FILMU</div>
            </div>
            <div class="row">
                <div class="col-sm-10">
                    <div class="panel-body">
                        <strong><div>Naslov/Naziv:</div></strong>
                        <div><input ng-required=true class="form-control" name="mpName" ng-model="vm.movie.name" /></div>
                        <p class="text-danger" ng-if="!newMovieForm.mpName.$valid">Ime je obavezno za unijeti.</p>
                    </div>
                </div>              
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <div class="panel-body">
                        <strong><div>Datum izlaska:</div></strong>
                        <input kendo-date-picker
                               name="mprelease"
                               ng-required=true
                               ng-model="vm.movie.releaseDate"
                               k-format="dd/MM/yyyy"
                               k-parse-formats="['yyyy-MM-ddTHH:mm:sszzz']" />
                        <p class="text-danger" ng-if="!newMovieForm.mprelease.$valid">Datum izlaska je obavezno za unijeti.</p>
                    </div>
                </div>              
                <div class="col-sm-10">
                    <div class="panel-body">
                        <div>Kratki opis:</div>
                        <textarea class="form-control" rows="4" ng-model="vm.movie.description" style="max-width:100%; max-height:500%;"></textarea>
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="panel-body">
                        <div>IMDB url:</div>
                        <div>
                            <input class="form-control" name="imdbUrl" ng-model="vm.movie.imdbUrl" ng-pattern="/^(http|https):///" />
                            <span class="text-danger" ng-show="newMovieForm.imdbUrl.$error.pattern">Url mora započeti sa http ili https.</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-10">
                    <div class="panel-body">
                        <div>Poster url:</div>
                        <div>
                            <input class="form-control" name="posterUrl" ng-model="vm.movie.posterUrl" ng-pattern="/^(http|https):\/\/.*\.(jpg|png|gif|jpeg)$/g" />
                            <span class="text-danger" ng-show="newMovieForm.posterUrl.$error.pattern">Url mora započeti sa http ili https i završiti sa jpg|png|gif|jpeg.</span>
                            <div class="font-italic">(*.gif, *.png, *.jpeg, *.jpg)</div>
                        </div>
                    </div>
                </div>              
            </div>
        </div>
    </div>
</form>


